[user]
	name = drewsberry
	email = drew@drewsilcock.co.uk
[credential]
	helper = cache
[push]
	default = current
[color]
	ui = true
[url "git://anongit.kde.org/"]
    insteadOf = kde:
[url "git@git.kde.org:"]
    pushInsteadOf = kde:
